
.fullscreen {}



// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
//!Стили для табов
/*.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}

.tabs__items {
  display: flex;
}

.tabs__item {
  flex: 0 1 33.333%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: uppercase;
  text-decoration: none;
  color: rgb(48, 45, 49);
  font-weight: 700;
}

.tabs__block {
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  display: none;
}

.tabs__item_active {
  border-bottom: 1px solid red;
}

.tabs__block_active {
  display: block;
}*/
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
